/*border color #E5E5E5*/

/*blue text color #28B299*/



/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



.widget {
    /* width: calc(332px - 24px - 24px - 6px - 6px); */
    width: calc(404px - 1px - 1px);
    height: calc(613px - 1px - 1px);
    margin: 1px;
    border: 7px solid lightgrey;
    padding: 15px;
    border-radius: 25px;
    /*color: black;*/
}

header {
    border-bottom: 1px solid lightgrey;
    /*width:100%;*/
    text-align: center;
    margin: -5px -15px;
    padding-bottom: 7px;
}


header h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.text {
    /*margin-top:15px;*/
    padding-top: 15px;
    padding-bottom: 11px;
    text-align: center;
    font-size: 90%;
    border-bottom: 1px solid lightgrey;
    margin: -5px -15px;
}

.table-content {
    padding-top: 15px;
    padding-bottom: 11px;
    margin: -15px -15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 23px 1px;
    border-collapse: collapse;
    border-bottom: 1px solid lightgrey;
    margin: -5px 500px 20px;
}

.tdl {
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    color: #28B299;
    padding-right: 10px;
}

.tdr {
    text-align: left;
    border-left: 1px solid lightgrey;
    font-size: 15px;
    color: #6E6E6E;
    padding-left: 10px;
}

.list-content {
    padding-top: 10px;
}

ul {
    padding-left: 45px;
    margin-top: 5px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}


ul { list-style: none; } /* Remove default bullets */

li::before {
    content: "\2713";
    margin-right: 10px; /* Optional tweak */
}

#firstli::before {
    content: "\261E";
    margin-right: 10px; /* Optional tweak */
}

.button {
    border: none;
    border-radius: 10px;
    color: white;
    background: #F77D48;
    padding: 15px 95px;
    text-align: center;
    /*text-decoration: none;*/
    display: block;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
}
